#!/usr/bin/env xdg-open
[Desktop Entry]
Name=org-protocol
Exec=emacsclient --no-wait %U
Icon=emacs
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol;
