#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Emacs Client - GWP
GenericName=Text Editor
Comment=View and edit files
MimeType=application/x-note;application/pdf;text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacsclient %F
TryExec=emacs
Icon=emacs
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor;
